.list-view {
  background-color : #273135;
  font-family      : monospace;
  font-size        : 12px;
}

.spinner {
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  justify-content  : center;
  min-height       : 100vh;
}